.form__input {
  width: 400px;
  height: 28px;
  border: none;
  background-color: #574B63;
  border-bottom: 1px solid #F5F5F5;
  margin: 0 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.form__input::-webkit-input-placeholder {
  color: white;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form__input:-moz-placeholder {
  color: white;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form__input:-ms-input-placeholder {
  color: white;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}  